<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <%- include('../layout/navbar.ejs') %>
    <form action="/views/createAlbum" method="post">
      <div class="space-y-3 max-w-screen-sm mx-auto flex flex-col items-center  bg-gradient-to-l from-gray-200 via-fuchsia-200 to-stone-100 rounded-lg py-8 shadow-lg shadow-gray-300">
        <div class="w-full">
                      <h2 class="text-3xl font-bold text-center text-slate-700">Create Your Album</h2>

          <div class="mt-2 flex flex-col justify-center mx-auto rounded-lg w-8/12 py-10">
            <input class="rounded-md w-full" type="text" name="name" placeholder="Album Name">
            <div class="mt-2">
              <label class="isprivate font-semibold text-lg" for="isprivate">
                Private
                <input id="isprivate" type="checkbox" name="isprivate" class="rounded-md p-[9px]">
              </label>
            </div>
          </div>
        </div>
        <button
          class="rounded-md bg-slate-800/85 px-5 py-2  w-5/12 text-lg font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600"
          type="submit">Create Album
        </button>
      </div>
    </form>
    <%- include('../layout/albums.ejs') %>
</body>

</html>